
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;

}
/* shared styles */
.linear-gradient{
    background: linear-gradient(to right, #F7E93F , #FB09B4 , #9100F8 );
   
}
.small-text{
    font-size: 16px;
    color: #ffffff;
    
}
.header-page{
    background-color: #1A0B2E;
    
}
.font-color-green{
    color: #00FF88;
}
.font-size-24{
    font-size: 24;
    font-weight: bold;
    color: #ffffff;
}
.text-left{
    text-align: left;
}
/* navigation bar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    
    padding: 30px 200px;
    
}
.logo{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}
.nav-pages{
    display: flex;
    gap: 32px;
    align-items: center;
}
.page{
    list-style: none;
}
.link{
    text-decoration: none;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    font-weight: 500;
}



.subscribe{
    display: flex;
     border-radius: 10000px;
    align-items: center;
    font-size: 16px;
    font-weight: 600px;
    color: #ffffff;
    
}
.btn{
    padding: 12px 16px;
    background: linear-gradient();
    
    cursor: pointer;
}
/* Banner styles */
.banner{
    text-align: center;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 525px;
}
.banner-image{
    width: 350px;
    height: 350px;
    border: 10px solid rgba(42, 24, 108, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 625px 40px 625px;
    
}
.banner-heading{
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 8px;
}
.heading-text{
    margin-bottom: 24px;
    

}
.lisioning-button{
    width: 200px;
    height: 44px;
    border-radius: 10000px;
    padding: 12px 20px;
    font-weight: 600;
    border: none;
}
.subscribe-button{
    border: none;
    border: 2px solid #00FF88;
    
    border-radius: 10000px;
    background: none;
    padding: 12px 20px;
    margin-left: 8px;
}
.subscribe-text{
    color: #00FF88;
}
.icon-color{
    color: #00FF88;
}
/* about section styles */
.about{
    background-color: #1A0B2E;
    text-align: center;
}
.about-container{
    padding: 50px 200px 120px 200px;
}
.podcast-detailes{
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.podcast-concept{
    line-height: 20px;
}
.line-gap{
    margin-top: 30px;
}
.hr-line{
    border: none;
    border-top: 1px solid gray;
    margin: 80px 0;
}
.about-epic{
    display: flex;
    justify-content: space-between;
    
}
.epic{
    width: 240px;
    height: 58px;
}
.epic-heading{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;

}
.facilities{
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}
.facilities-heading{
    font-size: 2.67rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}
.facilities-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3 ,1fr);
}
#music{
    grid-row: span 2;
    padding: 107px 40px;

}
#mobile{
    grid-column: span 2;
    padding: 40px 40px 70px 40px;
}
#global{
    grid-column: span 2;
    padding: 40px 40px 70px 40px;
}
#exclusive{
    grid-column: span 2;
    padding: 40px 40px 70px 40px;
}
#resources{
    grid-column: span 1;
    padding: 45px;
}
.our-facilities{
    background-color: #351165;
    border-radius: 40px;
}
.product-image{
    margin-bottom: 16px;
}
.product-heading{
    margin-bottom: 16px;
}
.product-detailes{
    line-height: 24px;
}