
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html , body{
    overflow-x: hidden;
}

/* shared styles */
.content,
.about ,
.facilities{
    background-color: #1A0B2E;
    text-align: center;
}
.linear-gradient{
    background: linear-gradient(to right, #F7E93F , #FB09B4 , #9100F8 );
   
}
.small-text{
    font-size: .889rem;
    color: #ffffff60;
    
}

.text-gradient{
    background: linear-gradient(to right, #F7E93F , #FB09B4 , #9100F8 ) ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.header-page{
    background-color: #1A0B2E;
    
}
.font-color-green{
    color: #00FF88;
}
.font-size-24{
    font-size: 1.33rem;
    font-weight: bold;
    color: #ffffff;
}
.text-left{
    text-align: left;
}
.btn:hover{
    box-shadow: 0 0 30px rgba(251, 9, 180, 0.5), 0 0 60px rgba(145, 0, 248, 0.3);
   
}
/* navigation bar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    
}
.logo{
    
    font-size: 2.22rem;
    font-weight: bold;
    color: #ffffff;
}
.nav-pages{
    display: flex;
    gap: 32px;
    align-items: center;
}
.page{
    list-style: none;
}
.link{
    text-decoration: none;
    font-size: .889rem;
    line-height: 120%;
    color: #ffffff;
    font-weight: 500;
}



.subscribe{
    display: flex;
     border-radius: 10000px;
    align-items: center;
    font-size: .889rem;
    font-weight: 600px;
    color: #ffffff;
    
}
.btn{
    padding: 12px 16px;
    background: linear-gradient(to right, #F7E93F , #FB09B4 , #9100F8 );
    cursor: pointer;
}

/* Banner styles */
.banner{
    max-width: 100%;
   
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    z-index: -100;
    padding: 100px 10px;
    
}
.banner-image{
    width: 300px;
    height: 300px;
    border: 8px solid rgba(42, 24, 108, 1);
    box-shadow: 0 0 30px rgba(251, 9, 180, 0.5), 0 0 60px rgba(145, 0, 248, 0.3);
    animation: pulse 3s infinite ease-in-out;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.banner-icon{
    z-index: 20;
}
.icon{
    font-size: 1rem;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    padding:  16px;
    border-radius: 1000px;
    margin-bottom: -100px;
    margin-left: 200px;
    border: 1px solid #1A0B2E;
    
    
    
    
}
.banner-heading{
    margin-top: 40px;
    font-size: 3.333rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 8px;
}
.heading-text{
    margin-bottom: 24px;
    

}
.banner-button{
    display: flex;
    justify-content: center;
    
}
.lessoning-button{
    width: 200px;
    height: 44px;
    border-radius: 10000px;
    padding: 12px 20px;
    font-weight: 600;
    border: none;
}
.subscribe-button{
    border: none;
    border: 2px solid #00FF88;
    
    border-radius: 10000px;
    background: none;
    padding: 12px 20px;
    margin-left: 8px;
}
.subscribe-text{
    color: #00FF88;
}
.icon-color{
    color: #00FF88;
}
/* about section styles */
.about{
    padding-top:  120px;
}
.about-container{
    padding: 50px 200px 120px 200px;
}
.podcast-details{
    font-size: 2.667rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.podcast-concept{
    line-height: 20px;
}
.line-gap{
    margin-top: 30px;
}
.hr-line{
    border: none;
    border-top: 1px solid gray;
    margin: 80px 0;
}
.about-epic{
    display: flex;
    justify-content: space-between;
    
}

.epic-heading{
    font-size: 2.667rem;
    font-weight: 900;
    margin-bottom: 16px;

}
.facilities{
    background-color: #230E3D;
    padding: 120px 200px;
    
}
.facilities-heading{
    font-size: 2.667rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}
.facilities-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3 ,1fr);
}
#music{
    grid-row: span 2;
    padding: 107px 40px;

}
#mobile{
    grid-column: span 2;
    padding: 40px 40px 70px 40px;
}
#global{
    grid-column: span 2;
    padding: 40px 40px 70px 40px;
}
#exclusive{
    grid-column: span 2;
    padding: 40px 40px 70px 40px;
}
#resources{
    grid-column: span 1;
    padding: 45px;
}
.our-facilities{
    background-color: #351165;
    border-radius: 40px;
}
.product-image{
    margin-bottom: 16px;
}
.product-heading{
    margin-bottom: 16px;
}
.product-detailes{
    line-height: 24px;
}
/* Content section styles */
.content{
    
    text-align: center;
    padding: 120px 200px;

}



.content-heading ,
.host-heading{   
    font-size: 2.667rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}
.content-episode{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}
.vedios{
    background-color: #250D44;
    text-align: left;
    border-radius: 8px;
}
.discription{
    padding: 24px;
}
.vedio-heading{
    font-size: 1.33rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 12px;
}
.vedio-tittle{
    margin-bottom: 12px;
}
/* Host styles */
.host{
    margin-top: 120px;

}
.host-container{
    
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    gap: 30px;
    padding: 40px;
    border-radius: 30px;
}
.host-details{
    text-align: left;
}
.host-name{
    margin-bottom: 16px;
    font-size: 1.778rem;
    font-weight: bold;
    color: #ffffff;
}
.host-skills{
    margin-bottom: 16px;
}
.social-media{
    display: flex;
    gap: 8px;
    width: 40px;
      
}
.social{
    padding: 5px;
    border: 1px solid brown;
    border-radius: 50%;
}
/* footer section style */
.footer-section{
    width: 100%;
    background: url(../assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    

    
}
.footer-container{
   margin: 120px 0;
}
.footer-heading{
    font-size: 3.33rem;
    font: 900;
    color: #ffffff;
    margin-bottom: 32px;
}
.footer-social-media{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    justify-content: center;
    gap: 100px;
    margin-bottom: 32px;
}
.footer-icon{
    width: 24px;
    height: 24px;
}
.navbar-mobile-screen{
    display: none;
}

@media screen and (max-width:576px) {
    .nav-pages,
    .subscribe{
        display: none;
    }
    .navbar{
        
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
    
}
    .humberger-icon{
        padding: 20px 20px;
        cursor: pointer;
    }
    
         


    .mobile-menu-items{
        background-color: #080946;
        color: #00FF88;
        border-radius: 1000px;
}
    .banner{
        max-width: 100%;
        background-size: contain ;
        background-position: center ;
        padding: 10px 10px;  
        margin-top: 40px; 
        
        min-height: 300px;
        height: auto;
         
}
    .banner-image{
        width: 150px;
        height: 150px;
        border: 5px solid rgba(42, 24, 108, 1);
        transform: translateY(30px);
        
       
        
    
    
}
    .microphone-image{
        width: 60px;
        height: 90px;
    }
    .icon{
    
        padding:  10px;
        margin-top: 10px;
        margin-left: 90px;
    } 

    .about{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .about-container{
         padding: 20px ;
    }
    .podcast-details{
        
        font-size: 1.667rem;
         margin-bottom: 10px;
    }
    .hr-line{
        margin: 20 0;
      
        
    }
    .about-epic{
        
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2 , 1fr);
    
}
    .epic-heading{
        
         margin-bottom: 8px;  
}
    .facilities{
        padding: 10px;
        padding-top: 40px;
        

}
    .facilities-heading,
    .content-heading,
    .host-heading{
        font-size: 1.667rem;
    
        margin-bottom: 20px;
        padding: 20px 0;
}
    .facilities-container{
    
     
         grid-template-columns: repeat(1 ,1fr);
}
    .content{
    
         text-align: center;
         padding: 10px;

}
    .content-episode{
    
        grid-template-columns: repeat(1 , 1fr);
    
}
    .host{
        margin-top: 20px;
}
    .host-container{
        flex-direction: column;
        padding: 10px;
    
} 
    .footer-social-media{
    
        grid-template-columns: repeat(2 , 1fr);
    
        gap: 50px;
        margin-bottom: 20px;
}  
    .host-skills{
        line-height: 26px;
    }
    .footer-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .host{
        margin-bottom: 50px;
    }
    
    

}